@import url("./assets/fonts/libertinus/libertinus.css");
@import url("./toolbar.css");
@import url("./files.css");

:root {
	--font-serif: "Libertinus Serif", serif;
	--font-sans-serif: "Libertinus Sans", sans-serif;
	--font-monospace: monospace;
}

html {
	--color-bg: #f0f0f0;
	--color: #000;

	&[data-theme="dark"] {
		--color-bg: #1a1a1a;
		--color: #f0f0f0;
	}
}

html {
	background-color: var(--color-bg);
	color: var(--color);

	min-height: 100vh;
	min-height: 100dvh;
	display: flex;

	.theme-toggle svg {
		fill: var(--color);
	}
}

body {
	flex: 1;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	margin: 2rem;

	font-family: var(--font-sans-serif);
	letter-spacing: 0.2px;
	font-size: 1.3em;
	cursor: text;
}

main {
	display: flex;
	max-width: 60rem;
	width: 100%;
	margin: 0 2rem;
	align-items: center;
	justify-content: center;
	padding-bottom: calc(50vh - 1ch);
	position: relative;
	pointer-events: none;
}

#editor {
	flex: 1;
	resize: none;
	padding: 0;
	outline: none;
	border: none;
	line-height: 27px;
	font-size: 1.1em;
	overflow: auto;
	pointer-events: all;
	color: inherit;
	background: none;
	font-family: inherit;
	overflow-y: hidden;
}

#word-count {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem 1.2rem;
	opacity: 0.2;
	transition: opacity 0.2s;
}

@media print {
	#toolbar,
	#word-count {
		display: none;
		opacity: 0;
	}
}
